<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>multiple image uploading</title>
</head>
<body>
    <%if(data.length == 0){%>
        <h2>Image Upload</h2>
        <form method = "post" action = "/uploading_images" enctype = "multipart/form-data">
            <label>please select your image</label>
            <input type = "file" name = "file" multiple>
            <input type = "submit" value ="upload">
        </form>

        <hr>
        <h2>Image_preview</h2>
        <ul>
            <%}%>
            <%data.forEach(img=>{%>
                <li> <%=img.filename%> </li>
                <img src = "http://localhost:5584/<%=img.filename%>">
            <%})%>
            </ul>

</body>

</html>